.sg-art-display {
  display: flex;
  justify-content: center;
  height: 30rem;
  width: 50rem;
}

.sg-display-wrap {
  padding-top: 4rem;
  max-width: 80%;
  margin: auto;
}

.sg-display-row {
  display: flex;
  width: 100%;
}

.sg-display-col {
  display: flex;
  justify-content: center;
  width: 50%;
}
